<%if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.images = {
    session_background: "<%=image_url("green_blobs.png") %>",    
    splash_background: "<%=image_url("robin_phones.png") %>",
    logged_in_background: "<%=image_url("elon_tweet1.png") %>"    
  
  }
</script>

<main id="root"></main>