.home_page_left_main_col{
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  font-family: Arial, Helvetica, sans-serif;

  .main_chart_company_title{
    font-size: 32px;
    padding: 8px;
    margin-bottom: 3px;
    padding: 10px 0px 0px 50px;
  }

  .stock_current_price{
    font-size: 28px;
    padding: 10px 0px 0px 50px;
  }

  .home_page_left_chart{             
    height: 38%;
    max-width: 620px;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: -50px;
  }

  .left_chart_time_options{
    padding-left: 50px;
    height: 6%;
    align-items: center;
    button{
      height: 100%;
      width:  40px;
    }
  }

  .home_page_left_col_bottom_chart{
    padding-left: 50px;
    font-size: 26px;

    .company_description{
      max-height: 8vh;
      max-width: 85%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      padding-top: 14px;
      padding-bottom: 14px; 
      margin-bottom: 30px;
    }

    .company_info_grid{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 50px 50px;
      font-size: 16px;
      margin-top: 12px;

      h3{
        font-size: 16px;
        font-weight: bold;
      }   
    }
  }


  
}

.stock_show_right_main_col{    
  position: relative;
  max-width: 350px;
  min-width: 270px;
  height: 50%;
  flex: 0 0 22%;
  margin-right: 3vw;
  margin-top: 4vh;
  font-family: Arial, Helvetica, sans-serif;
  
  .watchlist_item_add_button{
    width: 90%;
    height: 44px;
    border: 1px solid #21CE99;
    border-radius: 6px;
    color: #21CE99;
    text-align: center;
    margin-top: 12px;
  }

  .watchlist_item_remove_button{
    width: 90%;
    height: 44px;
    color: #F45531;
    border: 1px solid #F45531;
    border-radius: 6px;
    text-align: center;
    margin-top: 12px;
  }

  .watchlist_item_add_button:hover{
    color: rgb(87, 201, 167);
    font-weight: bolder;
  }

  .watchlist_item_remove_button:hover{
    color: rgb(233, 120, 95);
    font-weight: bolder;
  }

}