.home_page_left_main_col{
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  font-family: Arial, Helvetica, sans-serif;

  .main_chart_company_title{
    font-size: 30px;
    font-weight: bold;
    padding: 8px;
    margin-bottom: 3px;
    padding: 50px 0px 0px 50px;
  }

  .stock_current_price{
    font-size: 42px;
    padding: 0px 0px 0px 50px;
  }

  .home_page_left_chart{             
    height: 38%;
    max-width: 830px;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: -50px;
  }

  .left_chart_time_options{
    padding-left: 50px;
    height: 6%;
    align-items: center;
    button{
      height: 100%;
      width:  40px;
    }
  }

  .home_page_left_col_bottom_chart{
    padding-left: 50px;
    font-size: 26px;
    max-width: 800px;

    .company_description{
      max-height: 8vh;
      width: 100%;
      overflow: hidden;
      overflow-y: scroll;
      font-size: 16px;
      padding-top: 14px;
      padding-bottom: 14px; 
      margin-bottom: 30px;
    }

    .company_info_grid{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 50px 50px;
      font-size: 16px;
      margin-top: 12px;

      h3{
        font-size: 16px;
        font-weight: bold;
      }   
    }
  }


  
}

.stock_show_right_main_col{    
  position: relative;
  max-width: 380px;
  min-width: 350px;
  height: 60%;
  flex: 0 0 22%;
  margin-right: 3vw;
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;

  .transaction_form{
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 3vw;
    margin-top: 4vh;
    border-radius: 3px;  
    box-shadow: 2px 2px 9px 2px rgba(124, 124, 124, 0.45);
  }

  
  .watchlist_item_add_button{
    width: 80%;
    height: 30px;
    border: 1px solid #21CE99;
    border-radius: 6px;
    color: #21CE99;
    text-align: center;
    margin-top: 12px;
    padding: 15px 0px 0px 0px;
  }

  .watchlist_item_remove_button{
    width: 80%;
    height: 44px;
    color: #F45531;
    border: 1px solid #F45531;
    border-radius: 6px;
    text-align: center;
    margin-top: 12px;
  }

  .watchlist_item_add_button:hover{
    color: rgb(87, 201, 167);
    font-weight: bolder;
    cursor: pointer;
  }

  .watchlist_item_remove_button:hover{
    color: rgb(233, 120, 95);
    font-weight: bolder;
    cursor: pointer;
  }

}