.home_page_left_main_col{
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  font-family: Arial, Helvetica, sans-serif;

  .main_chart_company_title{
    font-size: 32px;
    padding: 8px;
    margin-bottom: 3px;
    padding: 10px 0px 0px 50px;
  }

  .stock_current_price{
    font-size: 28px;
    padding: 10px 0px 0px 50px;
  }

  .home_page_left_chart{             
    height: 38%;
    max-width: 620px;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: -50px;
  }

  .left_chart_time_options{
    padding-left: 50px;
    height: 6%;
    align-items: center;
    button{
      height: 100%;
      width:  40px;
    }
  }

  .home_page_left_col_bottom_chart{
    padding-left: 50px;
    font-size: 26px;

    .company_description{
      max-height: 7vh;
      max-width: 85%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      padding-top: 14px;
      padding-bottom: 14px; 
      margin-bottom: 30px;
    }

    .company_info_grid{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 50px 50px;
      font-size: 14px;
      margin-top: 12px;

      h3{
        font-size: 16px;
        font-weight: bold;
      }   
    }
  }


  
}

.home_page_second_chart{    
  // border: 1px solid $light-gray;  
  // box-shadow: 1px 1px 1px 1px $light-gray ; 
  // border-radius: 3px;
  height: 30%;
  max-width: 1000px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  h3{
    font-size: 24px;
  }
  

}