.splash_top_nav{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
	padding: 2vh 5vw;   
  color: #21CE99;
  font-size: 24px;
  height: 6vh;
} 

.splash_top_nav_msg{
  color: black;
  font-size: 18px;
}

.splash_top_nav__button{
  color: black;
  font-size: 20px;
  width: 76px;
  height: 28px;
  text-align: center;
  border-radius: 3px;
  margin: 3px;
}

.splash_top_nav__button:hover{
  color: #21CE99;
  text-decoration: underline;
}







