.splash_top_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 2vh 5vw;   
  color: #21CE99;
  font-size: medium;
  height: 6vh;


} 

.nav{
  display: flex;
  justify-content: space-around;
}

.splash_top_nav__button{
  color: black;
  padding: 1em 1.5em;
}

.splash_top_nav__button:hover{
  color: #21CE99;  
}

