.home_page{

  .home_page_nav_bar_container{
    margin: 0vh 1vw 0vh 1vw;

    .home_nav_button:hover{
      color: #21CE99;
    }
    .home_page_nav_bar{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;    
      width: 100%;
      height: 7vh;
      font-family: Arial, sans-serif;
      font-weight: 700;
      font-size: 14px;   
      
      .home_page_nav_wrap{
        margin-right: 120px;
        .home_page_nav_search{
          background-color: white;
          width: 500px;
          position: relative;
          border: 1px solid $light-gray;
          border-radius: 3px;
          box-shadow: 1px 1px 1px 1px #e2e2e2;
          
          .home_page_nav_search_input{
            height: 36px;
            width: 100%;
            padding-left: 20px;
            position: relative;
          }

          .home_page_nav_search_results{
            position: absolute;
            width: 100%;
            z-index: 1;
            li{
              color: gray;
              height: 24px;
              width: 100%;
              background-color: white;
              padding-left: 10px;
            }
            
            li:hover{
              color: #21CE99;
            }

          }
        }  
      }
    }
  }

  .home_page_main_container{
    min-width: 1200px;
    max-width: 1600px;
    height: 90vh;;
    
    display: flex;
    padding-left: 12vw;
    margin-left: 2vw;

      .home_page_left_main_col{
        position: relative;
        // flex: 0 0 63%;
        margin-right: 35px;
        margin-left: 3vw;
        width: 880px;
        height:95%;
        display: flex;
        flex-direction: column;
        
        .home_page_balance_display{
          min-height: 50%;
          font-size: 32px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 500;
          display: flex;
          flex-direction: column;

          .current_portfolio_value{
            color:  #21CE99;
            padding: 20px 0px 10px 0px;
          }

          .home_page_deposit_money{
            font-size: 14px;
            justify-self: end;
          }
          .home_page_deposit_money:hover{
            color: #21CE99;
            font-weight: bolder;
          }

        }
      }

      .home_page_right_main_col{
        position: relative;
        width: 380px;
        height: fit-content;
        padding-top: 60px;
        
        .home_page_deposit_money{
          margin-right: 3vw;
          margin-top: 4vh;
          border-radius: 3px;  
          box-shadow: 2px 2px 9px 2px rgba(0,0,0,0.45);
          font-size: 26px;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
  }
}







