.home_page{

  .home_page_nav_bar_container{
    margin: 0vh 1vw 0vh 1vw;

    .home_page_nav_bar{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;    
      width: 100%;
      height: 7vh;
      font-family: Arial, sans-serif;
      font-weight: 700;
      font-size: 14px;   
      
      .home_page_nav_wrap{
        margin-right: 120px;
        .home_page_nav_search{
          background-color: white;
          width: 500px;
          position: relative;
          border: 1px solid $light-gray;
          border-radius: 3px;
          box-shadow: 1px 1px 1px 1px #e2e2e2;
          
          .home_page_nav_search_input{
            height: 36px;
            width: 100%;
            padding-left: 20px;
            position: relative;
          }

          .home_page_nav_search_results{
            position: absolute;
            width: 100%;
            z-index: 1;
            li{
              color: $light-gray;
              height: 24px;
              width: 100%;
              background-color: white;
              padding-left: 10px;
            }
            
            li:hover{
              color: gray;
            }

          }
        }  
      }
    }
  }

  .home_page_main_container{
    min-width: 1024px;
    max-width: 1300px;
    height: 90vh;;
    
    display: flex;
    padding-left: 8vw;
    margin-left: 7vw;

      .home_page_left_main_col{
        position: relative;
        flex: 0 0 63%;
        margin-right: 0vw;
        margin-left: 3vw;
        width: 55vw;
        height:95%;
        display: flex;
        flex-direction: column;
        //rest in stock scss
      }

      .home_page_right_main_col{
        position: relative;
        max-width: 270px;
        flex: 0 0 22%;
        margin-right: 3vw;
        margin-top: 4vh;
        background-color: $light-gray;
        border-radius: 3px;
        height: 40%;
        //the content styling is in stocks.scss
      }
  }
}






