.home_page_news_container{
  width: 100%;

  h3{
    font-size: 26px;
    font-weight: 599;
  }

  .news_item{
    display:flex;
    flex-direction: row;
    width: 100%;
   
    .news_item_text{
      height: 180px;
      max-width: 60%;
      min-width: 60%;
      margin: 10px;

      h2{
        font-size: 14px;
        margin-bottom: 16px;
        font-weight: bold;
      }
      h3{
        font-size:16px;
        margin-bottom: 12px;
      }
      h4{
        font-size: 13px;
        color: $gray;
      }
    }

  }
}