

.session_form_body{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  padding: 0vh 0vw;
  background: image-url('green_blobs.png');
}

.session_form_body_form{
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: transparent;
  width: 47vw;
  height: 100vh; 
  padding: 0px 0px 0px 30px;
  background-color: white;
}

.session_form{
  display: flex;
  flex-flow: column;
  font-size: 20px;
  h3{
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-left: 15px;
    margin-bottom: 18px;
  }
}


.session_form_input{
  display: flex;
  flex-flow: column;
  padding: 1vh 1vw;  
}

.session_form_input_text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 8px;
  margin-left: 4px;
}

.session_form_input_box{
  background-color: $lightest-gray;
  border-radius: 10px;
  height: 5vh;
  width: 380px;
  padding: 0vh 2vw;
}

.session_form_button {
  border: 1px $lightest-gray solid;
  border-radius: 7px;
  background-color: #21CE99;
  color: $lightest-gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 599;
  text-align: center;
  height: 5vh;
  width: 70px;
  padding:  3px 30px 3px 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
}

.session_form_button:hover {
  border: 1px $lightest-gray solid;
  border-radius: 3px;
  background-color:  rgb(76, 224, 180);
}

.session_form_link {
  height: 5vh;
  width: 100px;
  padding: 0vh 1vw 0vh 1.5vw;
  // margin-top: 20px;
  text-decoration: underline;
  color: #21CE99;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.session_form_link:hover {
  color: rgb(76, 224, 180);
}

.session_form_errors {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  margin: 50px;
}