

.session_form_body{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  padding: 0vh 0vw;
  background: image-url('green_blobs.png');
}

.session_form_body_form{
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: transparent;
  width: 40vw;
  height: 100vh; 
  padding: 0px 0px 0px 30px;
  background-color: white;
}

.session_form{
  display: flex;
  flex-flow: column;
  font-size: 20px;
}


.session_form_input{
  display: flex;
  flex-flow: column;
  padding: 1vh 1vw;  
}

.session_form_input_text{
  padding: 0vh 0vw
}

.session_form_input_box{
  background-color: $lightest-gray;
  border-radius: 10px;
  height: 5vh;
  width: 380px;
  padding: 0vh 3vw;
}

.session_form_button {
  border: 1px $lightest-gray solid;
  border-radius: 10px;
  background-color: #21CE99;
  color: white;
  align-content: center;
  height: 5vh;
  width: 70px;
  padding: 0vh 7vw 0vh 7vw;
}

.session_form_button:hover {
  border: 1px $lightest-gray solid;
  border-radius: 10px;
  background-color:  rgb(76, 224, 180);
}


