

.splash_top_nav{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
	padding: 0vh 8vw;   
  color: #21CE99;
  font-size: 24px;
  height: 15vh;
} 

.splash_top_nav_bar{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-weight: 700;
}

.splash_top_nav_msg{
  color: black;
  font-size: 18px;
  
}

.splash_top_nav__button{
  color: black;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  width: 76px;
  height: 28px;
  text-align: center;
  border-radius: 3px;
  margin: 3px;
}

.splash_top_nav__button:hover{
  color: #21CE99;
  text-decoration: underline;
}

.splash_page_body {
  display: flex;
  align-content: baseline;
  flex-flow: row;

  padding: 2vh 8vw;
  height: 70vh;
}

.splash_page_body_text{
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-family: Helvetica, sans-serif;
 
    h3{
    font-size: 45px;
    font-weight: 999;    
    text-shadow: -3px 3px 0px $light-gray;
    }
    h4{
      font-size: 16px;
      font-weight: bold;
    }
}
.splash_page_image{
  max-width: 900px;
  min-width: 800px;
}

.footer{
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h3{
  font-size: 14px;
  font-weight: bold;
  color: $gray;
  }
}











